*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Jost", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #10141a;
}
button:hover {
  transition: 300ms ease-in-out;
}
.chat__room__container__main__left {
  width: 30%;
  background-color: white;
  padding: 1em;
}
.chat__room__container__sidebar {
  width: 100%;
  background-color: white;
  padding: 1em 1em 0em 1em;
  font-size: 20px;
}
.chat__room__container__main__left__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
  border-bottom: 1px solid #000;
  margin-bottom: 1em;
}
.chat__room__container__main__left__header__heading {
  font-size: 18px;
  font-weight: 600;
}
.chat__room__container__main__left__header__button {
  background-color: transparent;
  border: none;
}
.chat__room__container__main__left__main__entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0em;
  width: 100%;
}
.chat__room__container__main__left__main__image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1em;
}
.chat__room__container__main__left__main__content__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
